<html>
    <body>
        <form action="/submit" method="POST">
            <label>Name:</label>
            <input type="text" name="peru" placeholder="Enter your name" required><br><br>
            <label>Phone:</label>
            <input type="text" name="phone" placeholder="Enter your mobile number" required><br><br>
            <Label>E-mail</Label>
            <input type="text" name="mail" placeholder="Enter your email id" required><br><br>
            <button type="submit">submit</button>
        </form>
    </body>
</html>